 /* Tablet Big */
@media (max-width: 1139px) {
    .container {
        max-width: 900px;
    }
}


/* Tablet */
@media (max-width: 899px) {
    .container {
        max-width: 768px;
    }
}



/* Mobile */
@media (max-width: 767px) {
    .container {
        max-width: 320px;
    }
}

