$accent-color: #f78434;
$accent-color-hover: #FF543E;
$accent-color-hover-2: #ff6a008a;
$black-color: #000000;
$call-color: #1A71D2;
$button-color: #FBDC4D;
$button-focus:#FFEB8D; 
$button-active: #F5D22D;
$button2-color:#EFF7FC;
$button2-focus:#D1EDFF;
$button2-active:#B0DCF8;
$border-active: #E5E5E5;
$hover-button: #EF6857;
$form-error:#ffda37;
