$accent-color: #f78434;
$accent-color-hover: #ff6a00;
$black-color: #000000;
$call-color: #1A71D2;
$button-color: #FBDC4D;
$button-focus:#FFEB8D; 
$button-active: #F5D22D;
$button2-color:#EFF7FC;
$button2-focus:#D1EDFF;
$button2-active:#B0DCF8;
$hover-button: #EF6857;
$form-error:#FF543E;
