.card-project{
    padding-top: 80px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;

     /* Tablet Big */
@media (max-width: 1139px) {
    padding-top: 40px;
    padding-bottom: 60px;
}

/* Tablet */
@media (max-width: 899px) {
    padding-top: 30px;
    padding-bottom: 40px;
}

/* Mobile */
@media (max-width: 767px) {
   
}
}

.card-link{
    margin-bottom: 65px;

         /* Tablet Big */
@media (max-width: 1139px) {
    margin-bottom: 40px;
}

/* Tablet */
@media (max-width: 899px) {
    margin-bottom: 30px;
    text-align: center;
    
}

}


.cards-top {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: row;

         /* Tablet Big */
@media (max-width: 1139px) {
    margin-bottom: 40px;
    flex-direction: row;
}

/* Tablet */
@media (max-width: 899px) {
    margin-bottom: 20px;
    
}

/* Mobile */
@media (max-width: 767px) {
    flex-direction: column;
    margin-bottom:  0;
}

}

.scale:hover a  img{
    transform: scale(1.2);
}

.scale a img{
    transition: .5s;
    width: 100%;
}

.card-top__link {
    
    //flex-shrink: 0;
    //    /* Mobile */
    //         @media (max-width: 767px) {
    //             margin-bottom: 30px;
    //         }
    
    &:not(:last-child){

        margin-right: 30px;

               /* Mobile */
            @media (max-width: 767px) {
                margin-right: 0;
            }
        }
}

.card__img {
    position: relative;
    overflow: hidden; //Обрезается все что выходит за края
}

.card__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(255, 221, 85, 0.75), rgba(255, 221, 85, 0.75));
    transform: translateY(100%);
    //backdrop-filter: blur(1px);
    transition: 0.3s;
}

.card__img picture{
    width: 100%;
    max-width: 100%;
}

.card__img span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); //разместить по середине

    display: inline-block;
    padding: 14px 20px;
    color: #fff;
    font-size: 18px;
    background-color: $hover-button;
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
    border-radius: 80px;

    /* Tablet */
        @media (max-width: 899px) {
            padding: 10px 10px;
            font-size: 16px;
        }


                /* Mobile */
                @media (max-width: 767px) {
                    padding: 10px 10px;
                    
                    white-space: nowrap;
                    border-radius: 20px;
                }
}

 .button-3:active{
    color: #aaa669;
    top: 52%;
    transition: .3s;
}

.card-top__link:hover .card__img span,
.card-bottom__link:hover .card__img span{
    opacity: 1;
}

.card-top__link:hover .card__img::before,
.card-bottom__link:hover .card__img::before{
        transform: translateY(0);
}


.card-top__desc {
    margin-top: 20px;


    
     /* Tablet Big */
@media (max-width: 1139px) {
    
}
/* Tablet */
@media (max-width: 899px) {
    margin-top: 10px;
}

/* Mobile */
@media (max-width: 767px) {
    margin-bottom: 30px;
}
}

.card-top__desc p{
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3;

     /* Tablet Big */
@media (max-width: 1139px) {
    font-size: 16px;
}

/* Tablet */
@media (max-width: 899px) {
    font-size: 14px;
}


}

.cards-bottom {
    display: flex;
    justify-content: center;

    /* Mobile */
@media (max-width: 767px) {
    flex-direction: column;
}
}
.card-bottom__link{
    flex-shrink: 0;

    
    &:not(:last-child){

        margin-right: 30px;

          /* Mobile */
            @media (max-width: 767px) {
                margin-right: 0;
                //margin-bottom: 30px;
            }
        }

        

}

.card-bottom__desc {
    margin-top: 16px;
    

         /* Tablet Big */
@media (max-width: 1139px) {
   
    margin-top: 10px;
}


/* Tablet */
@media (max-width: 899px) {
    max-width: 225px;
}

/* Mobile */
@media (max-width: 767px) {
    max-width: 245px;
    margin-bottom: 30px;
}
    
}

.card-bottom__desc p{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;

     /* Tablet Big */
@media (max-width: 1139px) {
    font-size: 14px;
    
}




}
