.button-1 {
   

    background: $button-color !important;
    margin-right: 20px;

    // &:hover{
    //     background: $button-focus !important;
    // }
    &:active{
        background: $button-active !important;
    }
}

.button-1.button-1--header::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    z-index: 5;
    //background: linear-gradient(90deg, rgba(255,255,255,0.1),rgba(255, 255, 255, 0.6));
    background: rgba(255, 255, 255, 0.6);
    filter: blur(8px);
    transform: translateX(-60px) skew(-45deg);
    animation: move 5s 1s infinite;
}

@keyframes move {
    0% {
        left: 0%;
    }

    100% {
        left: 150%;
    }
}

.button-1.button-1--header::after{
 
    content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 200px;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) );
        transition: transform 0.5s ease-in-out;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        /* Делаем круглый эффект */
        z-index: 4;
        
}

.button-1.button-1--header:hover::after {
    transform: translate(-50%, -50%) scale(1);
   
}

.button-1.button-1--header:hover {
    span{
        color: $button-color ;
    }
    
    
}

.button-1.button-1--header span {
    position: relative;
    z-index: 5;
}


.button-2 {
        background: $button2-color;
       
        
    //     &:hover{
    //     background: $button2-focus;
    // }

    &:active{
        background: $button2-active;
    }
}

.button-2::before{
    content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        background: $button2-focus;
        transition: transform 0.5s ease-in-out;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        /* Делаем круглый эффект */
        z-index: 4;
}

.button-2:hover::before {
    transform: translate(-50%, -50%) scale(1);
    
    background: $button2-focus;
}



.button-2 span {
    position: relative;
    z-index: 5;
}

.button-1,.button-2{
    position: relative;
        
        transition: border 0.2s linear, background-color 0.2s linear;
        transition: color 0.4s ease-in-out;
        overflow: hidden;
    padding-right: 40px;
    padding-left: 40px;
    height: 64px;
    border-radius: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 64px;

    span{
        transition: color 0.3s ease-in-out;
    }

    /*---TABLET-b---*/
    @media (max-width: 1139px) {
        padding-right: 26px;
        padding-left: 26px;
    
    }
    
}

.buttons{
    align-items: center;
    display: flex;

    /* Tablet */
@media (max-width: 899px) {
    display: none;
    

}
}

.button-1.button-1--form{
    transition: .3s ease-in;
}

.button-1.button-1--form:hover{
    background: $button-focus !important;
}

.mix-button__block{
    display: flex;
    justify-content: space-evenly;
}

.mix-button__block button{
    font-size: 30px;
    font-weight: 700;
    margin-right: 15px;
    margin-bottom: 20px;
    color: #9EC2D0;
    &:last-child{
        margin-right: 0;
    }

    &:focus{
        color: #000;
    }

    &:hover{
        color: $accent-color;
    }

    /*---MOBILE---*/
    @media (max-width: 899px) {
    font-size: 18px;
    
    }

}


.backtop-btn {
    position: fixed;
    width: 60px;
    bottom: 20px;
    right: 50px;
    z-index: 100;
    transition: 0.3s;
    opacity: 0;

    display: inline-block;
    border-radius: 50px;



    &:hover {
        background-color: #FBDC4D;


    }

    @media (max-width: 899px) {
        display: none;
    }

    @media (max-width: 767px) {}

}